@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


$primary: $grey-darker;
$link: $grey;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$background: $white-ter;

// Import only what you need from Bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass"



